/* Start Global Settings */

:root {
  --font: "Open Sans", sans-serif;
  --main-color: rgb(50, 60, 149);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

/* small */
@media (min-width : 768px){
  .container{
      width:750px;
  }
}
/* mediam */
@media (min-width : 992px){
  .container{
      width : 970px;
  }
}
/* mediam */
@media (min-width:1200px){
  .container{
      width:1170px;
  }
}

/* End Global Settings */

/* Start About */
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
/* Start Info */
.about .container .info {
  flex: 2;
}
.about .container .info .name {
  font-family: var(--font);
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.about .container .info .name span {
  color: var(--main-color);
}
.about .container .info .line {
  display: block;
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
  margin: 20px 0;
}
.about .container .info .title {
  font-family: var(--font);
  font-size: 22px;
  color: #666;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.about .container .info .text {
  font-family: var(--font);
  font-size: 16px;
  color: #666;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .about .container {
    flex-direction: column;
  }

  .about .container .info {
    text-align: center;
  }
  .about .container .info .line {
    margin: 20px auto;
  }

  .about .container .info .achievements {
    justify-content: center;
    grid-template-columns: auto auto;
  }

  .about .container .info .achievements .achieve i {
    margin-right: 30px;
  }
}
/* End Info */
/* Start Achievements */
.about .container .info .achievements {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 10px;
  margin-bottom: 30px;
}
.about .container .info .achievements .achieve {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  color: #666;
}
.about .container .info .achievements .achieve i {
  color: #fff;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.about .container .info .achievements .achieve i::before {
  position: absolute;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  z-index: -1;
  border-radius: 50%;
}
/* End Achievements */
.about .container .info .click {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: 0;
  margin-top: 20px;
}
.about .container .info .click:hover {
  cursor: pointer;
  opacity: 0.9;
}
.about .container .about-img img {
  max-height: 500px;
  transform: translate(-15px, -10px);
}
.about .container .about-img {
  background-color: var(--main-color);
  transform: translate(10px, 10px);
}

